body
{
    color: #000;

    font: 17px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-weight: 200;

    padding: 50px;
}

a
{
    color: #1e6280;

    cursor: pointer;

    text-decoration: none;
}

table
{
    border-collapse: collapse;

    width: 100%;
}
