@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body
{
    color: #000;

    font: 18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-weight: 300;

    padding: 50px;
}

a
{
    color: #1e6280;

    cursor: pointer;

    font-weight: normal;

    text-decoration: none;
}

table
{
    border-collapse: collapse;

    width: 100%;
}
