@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body
{
    color: #000;

    font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-weight: normal;

    padding: 50px;
}

h1, h2, h3, h4, h5, h6
{
    color: #000;

    font-weight: normal;

    margin: 0 0 20px;
}

p, ul, ol, table, pre, dl
{
    margin: 0 0 20px;
}

h1
{
    font-size: 300%;
}

h1, h2, h3
{
    line-height: 110%;
}

a
{
    color: #1e6280;

    font-weight: normal;

    text-decoration: none;
}

.wrapper
{
    margin: 0 auto;

    width: 860px;
}

code, pre
{
    color:#333;

    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;

    font-size: 90%;
}

pre
{
    background: #f8f8f8;

    border: 1px solid #e5e5e5;

    border-radius: 5px;

    overflow-x: auto;

    padding: 8px 15px;
}

table
{
    border-collapse: collapse;

    width: 100%;
}
